<h1>Customer List</h1>

<form method="GET" action="/search" class="form-inline queryform">
    <div class="form-group">
        <label for="namequery">Name: </label>
        <input type="text" name="namequery" id="namequery"
               size="48" class="form-control" required
               placeholder="Please enter the name to search">
    </div>
    <button type="submit" class="btn btn-success">Search</button>
</form>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Registration Date</th>
        </tr>
    </thead>
    <tbody>

        {{#each customers }}
            <tr class="{{newRow this.cust_id ../newId}}">
                <td>{{ this.cust_id}}</td>
                <td>{{ this.name}}</td>
                <td>{{ this.email}}</td>
                <td>{{ this.phone}}</td>
                <td>{{ this.reg_date}}</td>
            </tr>
        {{/each}}

    </tbody>

</table>
