<div class="jumbotron">
    <h1>Welcome to ACME Corp</h1>
    <img src="images/acme.png" class="pull-left acme-logo">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam amet atque culpa delectus deserunt, dicta earum, excepturi expedita laboriosam perspiciatis quae quasi quibusdam quod, temporibus unde ut voluptas voluptate.</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>
