<h1>Register</h1>

<form method="POST" action="/register">
    <div class="form-group">
        <label for="id">Id:</label>
        <input type="text" name="id" id="id" class="form-control"
               placeholder="Please enter a unique ID">
    </div>
    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" class="form-control"
               placeholder="Please enter your name">
    </div>
    <div class="form-group">
        <label for="phone">Phone:</label>
        <input type="tel" name="phone" id="phone" class="form-control"
               placeholder="Your contact number">
    </div>
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" class="form-control"
               placeholder="Your email number">
    </div>
    <div class="form-group">
        <button class="btn btn-success btn-block" type="submit">
            Register Me!
        </button>
    </div>
</form>
